[2020-03-15 00:38] uBadRequest opened #1 "Support for handling invalid characters"
Hello!

Awesome tool, much faster than my bash script... but it appears to have an issue with invalid characters

2020/03/15 01:35:37 Could not decode json: invalid character '<' looking for beginning of value

This is separate issue, but entire script stops when a timeout occurs... specifically seeing it with alienvault.

Thanks!

[2020-03-15 02:27] lc commented on #1
Thanks for bringing this to my attention, this shouldn't have been happening! Fixed that now.

[2020-03-15 02:27] #1 closed

[2020-03-15 08:53] SimoneBovi commented on #1
Hi!
Just updated to the new version but I am still seeing the same exact behavior :(

[2020-03-15 09:13] SimoneBovi opened #2 "Support for handling invalid characters with AlientVault"
Hi,
unfortunately I am seeing the same exact behaviour described here (https://github.com/lc/gau/issues/1) also after updating to the new version.

Feel free to DM on Twitter and I will give you the exact URL I am trying.

Thanks a lot, your tool is great!

[2020-03-15 17:13] lc commented on #2
Thanks! I had forgotten to remove one last `log.Fatal`, this is fixed now.

[2020-03-15 17:13] #2 closed

[2020-03-15 19:28] SimoneBovi opened #3 "Error: could not decode json response from alienvault: invalid character '<' looking for beginning of value"
Hi,
unfortunately I am seeing the same exact behaviour described previously also after updating to the latest new version.

Feel free to DM on Twitter and I will give you the exact URL I am trying or I will help you to debug this.

Thanks again in advance.

[2020-03-15 21:01] lc commented on #3
This is the expected behavior. The error handling is correct, that error arises when Alienvault encounters an error and is beyond my control.

[2020-03-15 21:01] #3 closed

[2020-04-09 13:14] MMquant commented on #3
I'm getting same error

[code]

However all good if Alienvault fetched via `curl`

[code]

[2020-04-10 17:12] lc commented on #3
@MMquant,

The tool decodes the JSON response from Alienvault. When Alienvault does not respond with valid JSON, this error arises. Expected behavior

[2020-04-10 17:13] lc commented on #3
Maybe I could add a retry, but I'm not sure how one would "fix" this

[2020-04-10 17:25] MMquant commented on #3
I can't speak `go` but if there is an option adding `retry` to all the `HTTP` connections then go for it. Generally good programming idea in such cases.

Btw that error pissed me off so I've rewritten `gau` in bash :)

[code]

[2020-04-10 17:37] lc commented on #3
Heh, yeah that error pisses me off too! I'll look into seeing if I can implement retries somehow.

[2020-04-10 17:45] MMquant commented on #3
Seems like `http.client` hasn't got inbuilt `retry` feature. This simple snippet could work
https://stackoverflow.com/questions/50676817/does-the-http-request-automatically-retry

[2020-04-10 17:45] lc commented on #3
Sweet, thanks @MMquant. I will look into it. Cheers

[2020-04-10 19:07] lc commented on #3
Hey @SimoneBovi @MMquant, I've just added retries to the tool. It defaults to 5 but can be specified by the `-retries` flag.

[2020-04-22 23:36] uBadRequest opened #4 "SIGSEGV/Unmarshal json"
Been getting a bunch of errors that look like this. If it helps, i'm trying to run this in parallel...  Any idea?

[code]

[2020-04-22 23:38] lc commented on #4
Hey @uBadRequest,

You might be running out of memory, for the "could not marshal json" errors? I can add HTTP request retries to get the common crawl index.

[2020-04-22 23:39] lc commented on #4
Can you share the command you were using to run this in parallel?

[2020-04-23 17:58] lc commented on #4
@uBadRequest,

I think I may have fixed the issue. Can you re-install this new version and test?

[2020-04-23 21:46] iTestAndroid commented on #4
Same for me with even with your last commit.
"could not unmarshal json from commoncrawl: invalid character '<' looking for beginning of value"

[2020-04-23 21:47] lc commented on #4
@iTestAndroid,

That is an expected error when CommonCrawl rate-limits you. The fix was meant to help with the panic

[2020-04-23 21:51] iTestAndroid commented on #4
@lc
Can I disable CommonCrawl? Can I limit pages?

[2020-04-23 21:53] lc commented on #4
@iTestAndroid, I thought about implementing this recently. I can add a flag that allows you to specify which ones you want to use

[2020-04-23 21:55] iTestAndroid commented on #4
Sure, I tried to remove CC as I only want the OTX, but I think I messed up some other parts of code. Switch would help, alternatively when you hit the CC limit, it can continue instead of breaking or something

[2020-04-23 21:59] lc commented on #4
Hey @iTestAndroid,
If you only want URLs from OTX you can alternatively use this tool: http://github.com/lc/otxurls

I'll add limiting the fetchers to my todo list.

[2020-04-23 22:00] iTestAndroid commented on #4
Great, thanks.
Also I commented out CommonCrawl and I still got this:
"error in parsing JSON from alienvault: invalid character '<' looking for beginning of value"
and
"could not decoding response from wayback machine: net/http: request canceled (Client.Timeout exceeded while reading body)"

[2020-04-23 22:02] iTestAndroid commented on #4
@lc Am I missing something?
I tried otxurls and I still got this:

2020/04/23 18:00:54 Could not decode json: invalid character '<' looking for beginning of value

[2020-04-23 22:03] lc commented on #4
Yeah that happens when AlienVault's OTX does not respond with JSON. You might just be getting IP-blocked / rate-limited. Maybe try from another IP

[2020-04-23 22:04] iTestAndroid commented on #4
@lc
But when I manually open and type the URL in my browser I can clearly see the JSON data
https://otx.alienvault.com/api/v1/indicators/hostname/google.com/url_list?limit=50&page=1

[2020-04-23 22:57] lc commented on #4
Many concurrent requests might be blocked, not 100% sure however the error catching is as intended

[2020-04-24 21:21] iTestAndroid commented on #4
@lc
Can we slow it down so it works? One thread at time or something?

[2020-04-24 21:23] lc commented on #4
@iTestAndroid, it currently runs on one thread, but I could add an option to set the delay between the fetchers

[2020-04-25 05:12] BitThr3at opened #5 "Invalid Character '<'"
![image](https://user-images.githubusercontent.com/45028933/80271798-6c3e3080-86e1-11ea-829a-20e28c5abd96.png)

[2020-04-25 16:05] iTestAndroid commented on #4
@lc
Sure, but I'm not 100% sure that is the problem with the feed. Also if you read 200 pages and page number 201 doesn't work or return wrong JSON, don't break. Maybe exception handling and then returning list of all URLs code was able to capture so far?

[2020-04-25 18:44] lc commented on #4
Hey @iTestAndroid @uBadRequest,

I just merged a great pull-request that should fix these issues.

Closing this now

[2020-04-25 18:44] #4 closed

[2020-04-25 18:45] lc commented on #5
This was how errors were handled, a new pull request was just merged so please re-install gau

[2020-04-25 18:45] #5 closed

[2020-04-26 05:06] lc commented on #4
@iTestAndroid, I just added the `-providers` flag as well now so you can specify which providers you want to fetch URLs from.

[2020-04-27 17:34] iTestAndroid commented on #4
All working well now. Thank you

[2020-04-28 06:50] adrhmnhkm opened #7 "Error Installation"
I had an error like this .

![Screenshot from 2020-04-28 08-48-54](https://user-images.githubusercontent.com/12286739/80456098-4a38ee00-892d-11ea-8573-55f2e21f42a7.png)

[2020-04-28 07:12] adrhmnhkm commented on #7
After updating Go i had new problem like this .

![Screenshot from 2020-04-28 09-11-01](https://user-images.githubusercontent.com/12286739/80457901-52465d00-8930-11ea-9b21-55abd6bafcee.png)

[2020-04-28 22:05] lc commented on #7
Hi @adrhmnhkm,

Sorry, it's not your Go version – I had forgotten to update the installation (from source) instructions:

[code]
or

[code]

[2020-04-29 07:59] adrhmnhkm commented on #7
Same thing .

Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

[2020-04-30 14:39] lc commented on #7
@OGoodness, @adrhmnhkm,

Can you share the command you're running to install?

[2020-04-30 14:45] OGoodness commented on #7
@lc
To install I ran the provided command:

I also tried deleting the bin from the go directory and then building it with:

However, I kept getting the errors from above. As a temporary fix, I just built the binary in the repository directory itself, and then added an alias to that directory.

So, it's working with the alias, it's not that much of a hassle :D

[2020-04-30 16:50] lc commented on #7
Hmm... @OGoodness

I updated the installation instructions, could you try this? You shouldn't have to do that

[code]

[2020-04-30 18:40] vks2694 opened #8 "gau binary conflict (ohmyzsh git.plugin alias)"
As gau binary  conflict  with the gau git inbuild alias
gau stands for git add --update (Also: "git add -u")

[2020-04-30 18:52] vks2694 commented on #8
when you fire
go get -u github.com/lc/gau
this will clone the directory in our $GOPATH/src/github.com/lc/gau......
and this will install binary in the $GOPATH/bin with the name of gau

This issue will cause name conflict between your binary "**gau**" and git alias "**gau**"(git add --update)

so this problem will only resolve by changing your repo  to a different name , or we should change the $GO

[2020-04-30 18:54] lc commented on #8
Hm, I don't plan on renaming this – where do you see that it's a git alias? As far as I've seen so far it seems to be a user-defined alias, right?

[2020-04-30 18:58] vks2694 commented on #8
Actually now a days most of the users use zsh. so i recommended the above solution.
https://github.com/ohmyzsh/ohmyzsh/wiki/Cheatsheet

[2020-04-30 18:59] lc commented on #8
@vks2694, I use ohmyzsh as well (didn't have that plugin installed though), so I see how this is problematic

[2020-04-30 19:03] lc commented on #8
@vks2694,

This is the first time someone's encountered this problem / opened an issue so far – I don't plan on renaming this right now.

Here's a workaround the issue:

You can download the pre-built binaries from the [releases](https://github.com/lc/gau/releases) page and then move them into your $PATH with a different name

Ex:
[code]

[2020-04-30 19:05] OGoodness commented on #7
@lc
It works fine now, thank you!
Sorry to bother you with such a simple thing.

Idk if you say, but NahamSec reviewed your tool on his stream the other day, the VOD is still on Twitch. I think he had some feedback on it.
Keep up the good work, we really enjoy your tools!

[2020-04-30 19:06] vks2694 commented on #8
yeah , Thanks

[2020-04-30 19:06] #8 closed

[2020-04-30 19:08] lc commented on #8
Thanks for flagging this @vks2694, I'm going to pin this and add a note in the README. Should more people encounter this issue I may consider renaming.

[2020-04-30 19:11] lc commented on #7
Awesome @OGoodness!

Thanks for verifying that / flagging it, I needed to update the installation instructions after the latest re-factor. Thank you!

[2020-04-30 19:11] #7 closed

[2020-05-01 09:47] omerxx commented on #8
@lc Another obvious as option (as a ohmzsh user and gau) is to `unalias` `gau` for git because it's rarely used;
Edit with your favorite editor (that should be Vim :) ) and comment out the alias:
[code]

[2020-05-01 14:52] lc commented on #8
@omerxx, yep! I'll add this to the README, thanks 👍 Once you're in the vim club you can't quit 😉

[2020-05-01 20:33] ikewzer0 opened #9 "getting an error.."
failed to decode otx resuts for page 0: invalid character '<' looking for beginning of value

am getting that error above and it stops.

[2020-05-02 02:31] lc commented on #9
This is expected behavior / proper error handling. If it is exiting and not fetching from other providers you may need to upgrade to the latest version.

[2020-05-02 02:31] #9 closed

[2020-05-02 10:12] Darkerhack commented on #8
A second possible solution is that make an alias for "gau" binary in .zshrc as your wish and use it.

[2020-05-13 04:14] KathanP19 opened #10 "Exclude unwanted files urls."
It would be great if you can add --exclude function to gau so that we can exclude unwanted files url.
Thank you

[2020-05-13 04:18] lc commented on #10
Hey @KathanP19,

Would this be to exclude certain file extensions like this? Say you didn't want `.gif` files:

`--exclude gif`

[2020-05-13 05:10] KathanP19 commented on #10
yes exactly , cause file is getting very large as more and urls are fetched which are unwanted.

[2020-05-13 10:43] cihanmehmet commented on #10
you can use grep for unwanted file extensions.

[code]
[code]

[2020-05-13 12:12] KathanP19 commented on #10
ya that can be one solution but gau itself doesn't fetch url , that can save some time & data.

[2020-05-13 20:24] lc commented on #10
@KathanP19, gau itself doesn't actually fetch any of these URLs, it only fetches the sources (Wayback, AlienVault, CommonCrawl)

[2020-05-17 15:32] lc commented on #10
Since gau does not do any fetching of the result URLs, I'm going to close this, one can use `rg` or `grep`. If I add functionality to fetch the URLs, I'll make sure to keep this issue in mind.

Thanks!

[2020-05-17 15:32] #10 closed

[2020-05-17 19:39] hassankhan98 opened #11 "gau: command not found"
GO111MODULE=on go get -u -v github.com/lc/gau after this when i try to run
gau: command not found?

[2020-05-17 20:23] lc commented on #11
Any more details, like your `go version` and $GOPATH?

Also can you show the output of `GO111MODULE=on go get -u -v github.com/lc/gau`? Mine works fine:

[code]

[2020-05-17 20:26] hassankhan98 commented on #11
go version go1.13.3 darwin/amd6

![Screen Shot 2020-05-17 at 1 25 57 PM](https://user-images.githubusercontent.com/33081303/82159281-fe99a600-9841-11ea-8b64-510bb49a9af0.png)

[2020-05-17 20:28] lc commented on #11
Do you have your $GOPATH variable set? `echo $GOPATH`

[2020-05-17 20:30] hassankhan98 commented on #11
No Sir How can i do that?

[2020-05-17 20:35] lc commented on #11
Ok, once you have that set this should work! Here's how to do it: https://www.digitalocean.com/community/tutorials/how-to-install-go-and-set-up-a-local-programming-environment-on-ubuntu-18-04

tl;dr:

[code]

Then edit your `~/.bashrc` (or `~/.zshrc` if you're using zsh) and add the following to the file:

[code]

[2020-05-17 20:35] #11 closed

[2020-05-21 10:51] EdOverflow opened #12 "How does one pronounce the name of your tool? [URGENT]"

[2020-05-21 10:56] karelorigin commented on #12
It's pronounced as "gau" not "gau"

[2020-05-21 10:57] jimen0 commented on #12
I confirm I was able to reproduce the issue locally.

[2020-05-21 14:59] lc commented on #12
Hello, this is definitely an issue, it's pronounced "g-ow", Stok says it right here:

https://youtu.be/NugCDCumPxs?t=140

Closing as fixed now

[2020-05-21 14:59] #12 closed

[2020-05-23 06:25] balook opened #14 "giving error in zsh shell"
when running gau in zsh
fatal: not a git repository (or any of the parent directories): .git

[2020-05-23 15:50] lc commented on #14
Hi @balook,

Please read here: https://github.com/lc/gau/issues/8

Thanks

[2020-05-23 15:50] #14 closed

[2020-06-06 22:03] marcelo321 opened #15 "more specific search?"
When doing `echo 'example.com' | gau` you will get urls from any domain containing 'example.com',
like for example: evil.com/?a=example.com and this it's a little annoying, is there a way to only get urls from the domain we provide?

[2020-06-06 22:06] marcelo321 commented on #15
uh sorry, i confused this with another program.

[2020-06-06 22:06] #15 closed

[2020-06-09 12:39] r-arpeet82 opened #16 "I downloaded gau but I am not able to run"
I have downloaded gau, with the  command specified in the installation GO111MODULE=on go get -u -v github.com/lc/gau . But I am not able to locate where is my gau saved. As I downloaded it in Desktop once, once in home. Tried to run from both locations but it says gau: No such file or directory. And on giving command like ./gau it says ./gau: No such file or directory. Any solution please.

[2020-06-09 14:04] skynet594 commented on #16
Use the second option by downloading the binary file..I'm including the link below.
https://github.com/lc/gau/releases/download/v1.0.2/gau_1.0.2_linux_amd64.tar.gz.
Change the directory to where the downloaded file is saved and use the following commands below
tar xvf gau_1.0.2_linux_amd64.tar.gz
mv gau /usr/bin/gau

I hope this helps.
Anyways which OS are you using??

[2020-06-09 16:07] r-arpeet82 commented on #16
Thank you that worked.

[2020-06-09 16:23] #16 closed

[2020-07-10 20:19] w9w opened #17 "Output to JSON file - feature request"
Hey Corben! I'd like to request a new feature - stdout to JSON file to a specific directory. I need it for another script and I can use other methods to convert the output to JSON but it'd cool if you add it to your tool straightaway.

Thanks and have a nice day. Max (@w2w).

[2020-07-10 22:54] lc commented on #17
Hey @w9w,

Good idea, I've been meaning to add output functionality, so I've just done that. There's now a `-o` flag to specify a file to output results to, as well as a `-json` flag to specify JSON output.

Here's the release: https://github.com/lc/gau/releases/tag/v1.0.3

[2020-07-10 22:54] #17 closed

[2020-08-25 22:03] hackerman2015 opened #18 "Common Is Not A Valid Provider"
Here is the request I used:

`./gau -providers common -o test.txt www.hackerone.com`

Resulted in the following error:

`Error: common is not a valid provider.`

[2020-08-25 22:07] #18 closed

[2020-08-26 17:56] imalfuncti0n commented on #8
This option worked fine for me after applying the changes close the terminal and you will see it's working Fine.

[2020-08-31 09:53] virenpawar opened #19 "[BUG] GAU is breaking certain times"
First of all thanks for creating this awesome tool, it helps greatly in daily usage to find multiple vulnerabilities. Coming to the point, `gau` breaks certain times, there are multiple cases I guess, and not all times these cases appears to be faulty:
1. When response contains `?` mark sign.
2. When response length is long.

I have two sites which demonstrate this, but I don't want to mark them h

[2020-09-03 08:10] sofily-security opened #20 "gau output (-o) option is not working"
I tired the below. The output is showing on the console but it's not really creating and dumping into the file.
root@kali:~# gau --version
gau version: 1.0.3
root@kali:~#
root@kali:~# gau target.com -subs -o target.txt
root@kali:~# ls -l
total 0
root@kali:~#

[2020-09-03 14:59] lc commented on #20
Hi @sofily-security,

Thanks for opening this issue. What happens when you run this?

`gau -subs -o target.txt target.com`

[2020-09-03 15:03] lc commented on #19
Hi @virenpawar,

Thanks for opening up this issue. If you could email me these two sites to demonstrate this I would appreciate it! You can contact me at corben[at]threat.dev.

[2020-09-04 00:49] sofily-security commented on #20
Hello Ic,

Now when I run with your provided syntax, it's working. It prints the output on console + creating and dumping the result into a file.
root@kali:~# **gau -subs -o target.txt target.com**
root@kali:~# ls -l target.txt
-rw-r--r-- 1 root root 593920 Sep  3 20:39 framer.txt
root@kali:~#

But again, just to test the previous case, I again run with the initial syntax. It ONLY prints the outpu

[2020-09-04 01:29] lc commented on #20
@sofily-security this acts differently because of Golang's flag package and my use of NArg

https://github.com/lc/gau/blob/master/main.go#L102
[code]

NArg is the number of arguments remaining after flags have been processed.

[2020-09-04 01:32] sofily-security commented on #20
Understood. Thanks for your prompt response. Good learning tips for me 👍

[2020-09-04 01:35] lc commented on #20
I'm going to look into this more and see if I can find a solution, so I'll leave this open for now. Thanks!

[2020-09-14 10:44] kabeersaxena opened #21 "gau: command not found"
I Tried it by clone , gau_1.0.3_linux_amd64.tar.gz (extraction) , and by using go.

but when i try gau -h it shows
gau: command not found

root@kali:~# export PATH=$PATH:/usr/local/go/bin
root@kali:~# go get -u -v github.com/lc/gau
github.com/lc/gau (download)
github.com/json-iterator/go (download)
github.com/modern-go/concurrent (download)
github.com/modern-go/reflect2 (download)
root@kali:~# gau

[2020-09-14 10:51] kabeersaxena commented on #21
i got it solved by. deleting their path and re extracting them again :)

[2020-09-14 10:51] #21 closed

[2020-09-14 15:37] lc commented on #19
Hi @virenpawar,

Thanks for bringing this to my attention, I just fixed this issue and published a new release. Thanks!

[2020-09-14 15:37] #19 closed

[2020-09-20 00:03] marcelo321 opened #22 "Is there any other provider apart from wayback?"
Hello,

I just have a simple question. It mentions -providers flag to fetch urls from waybackurls. Is there any other provider we can add?

`-providers wayback`

[2020-09-22 19:00] lc commented on #22
Hi @marcelo321,

Yes: `wayback,otx,commoncrawl` are the supported options. If you don't specify the `-providers` flag they will all be used.

[2020-09-22 19:00] #22 closed

[2020-10-08 06:05] 0x646e78 commented on #8
Instead of editing the oh-my-zsh plugin, which could cause problems with git conflicts is to set `unalias gau` in your `.zshrc` _after_ the line `source $ZSH/oh-my-zsh.sh`

I don't use the gau git alias so this has been the simplest for me.

[2020-10-21 09:27] ratpunk2 opened #25 "gau: command not found."
ratx@Kali:/usr/bin/gau$ printf example.com | gau
bash: gau: command not found

[2020-10-22 18:12] #25 closed

[2020-10-22 18:13] lc commented on #25
You need to describe what you've done and tried, not just some random command.

[2020-11-04 10:17] Linuxinet opened #26 "fatal: pathspec 'domain.com' did not match any files"
When I try to use this tool
It showing error like this
![IMG_20201104_154644](https://user-images.githubusercontent.com/55936553/98098951-fc410c00-1eb4-11eb-9fc4-d91afe41cd6a.jpg)

`fatal: pathspec 'video.uber.com' did not match any files`

[2020-11-04 11:53] #26 closed

[2020-11-05 09:12] ChrisLycan opened #27 "You should add a * functionality so I could do subdomain searches like demo.*.com"

[2020-11-05 09:27] ChrisLycan commented on #27
GAS(Grab All Subs)

[2020-11-25 02:44] BastienFaure commented on #20
I have another behavior might be tied to this issue. When I specify an output file with `-o`, nothing is printed on the console. I that by design or just a miss ?

Thanks !

[2020-11-29 14:35] m0chan opened #29 "Add Blacklist Option"
You should add a `-b` flag to blacklist specific file types, for example.(jpg|jpeg|gif|css|tif|tiff|png|ttf|woff|woff2|ico) etc etc

~ @m0chan

[2020-12-01 18:35] lc commented on #29
Hey @m0chan,

I've considered doing this before, it's a great idea. I'll see if I can implement this

[2020-12-02 03:07] lc commented on #20
@BastienFaure that is by design

[2020-12-07 12:51] trieulieuf9 opened #30 "Not all urls on Waybackmachine are grabbed"
Hi,

First, thank for the great tools, it helps me found several bugs, including my seconds first bug too :)

I notices that a url that i can find on WaybackMachine, but cannot find it in gau output (i tried waybackurls, not found too). The sample url is from a H1 private program, i will send you an email with the sample url instead.

[2020-12-10 00:11] lc commented on #30
Hi, glad you've found it useful! Can you email a sample URL to corben[at]threat.dev? Thanks!

[2020-12-10 01:27] lc commented on #29
Hey @m0chan,

I've just released a new version of gau with this implemented - https://github.com/lc/gau/releases/tag/v1.1.0

Thanks!

[2020-12-10 01:27] #29 closed

[2020-12-10 01:32] lc commented on #27
Hi @ChrisLycan,

Although not a bad idea, this doesn't really match up with the purpose that I've created the tool for; however feel free to fork it and implement it :)

Thanks!

[2020-12-10 01:32] #27 closed

[2020-12-23 18:13] shadihh9 opened #31 "i have problem"
mv: cannot overwrite non-directory '/usr/bin/gau' with directory 'gau'
when excute
mv gau /usr/bin/gau

[2020-12-25 14:39] 0xcrypto commented on #8
Can confirm this conflict in oh-my-bash as well.

[2021-01-20 14:05] rami1785 opened #32 "gau not work"
gau not work as u see in the pic
i even tried with sudo or by root account

![gau](https://user-images.githubusercontent.com/77687890/105185357-18119100-5b39-11eb-91c5-c1a134d8baf1.png)

[2021-01-20 14:13] bsysop commented on #32
Run `which gau`, you will see it is not properly installed.

Just run
[code]

[2021-01-20 22:10] rami1785 commented on #32
thank you :)

[2021-01-21 18:50] lc commented on #32
`mv gau /usr/local/bin/`

[2021-01-21 18:50] #32 closed

[2021-01-21 18:50] #31 closed

[2021-01-24 12:10] 1UC1F3R616 opened #33 "stopped working"
OS: Ubuntu

It was working fine before but  now it's not giving any output.
Tried reinstalling but still the same, If similar happend with anyone else then plz share what worked for you

[2021-01-24 12:13] 1UC1F3R616 commented on #33
turns out that my vpn was active, don't know how it was interfering with the script but after turning it off it's all ok now. Thnaks!

[2021-01-24 12:13] #33 closed

[2021-01-24 13:29] 1UC1F3R616 commented on #33
Now I have found the correct reason of above behaviour
- We get limited number of requests and once the quota exceed then it stops working

[2021-02-08 20:46] imalfuncti0n commented on #14
@balook just reopen the terminal gau will work fine :)

[2021-02-09 14:26] yassineaboukir opened #34 "Blacklisted extensions case-sensitivity issue"
Hi,

Thanks for the tool! the new blacklisted extension filtering is awesome too but found that it's case sensitive which is the nature of Go obviously. I've come across URL cases where it ends with an upper case extension such as `.PNG` so even if you blacklist `png` like `gau -b png,svg` it won't work and will still be outputted.

Similarly, if someone mistakenly uses an uppercase letter, say `g

[2021-02-09 16:05] #34 closed

[2021-02-16 18:21] karniv0re-cyber opened #37 "Please add support for Linux386 (32-Bit)"
Hey there,
I really love this tool and appreciate your hard work, kindly please develop 32-bit binary too, will be really helpful.
Thanks and Regards.

[2021-03-28 23:50] bughunter-0 opened #38 "http proxy (no trafic with burp)"
![gau proxy](https://user-images.githubusercontent.com/71531346/112772421-9b170200-9028-11eb-8a7b-99f3140bc149.png)

i have problem conecting the proxy with burp during the crawl ! .

[2021-04-22 09:09] NagliNagli opened #39 "Blacklist is not case sensitive"
-b jpg wont catch JPG endpoint

[2021-05-03 16:00] lc commented on #39
Hey @NagliNagli,

Good catch, thanks for pointing this out!

[2021-05-03 16:00] lc commented on #37
Hey @karniv0re-cyber,

Should be easy enough. I'll do this for the next release, thank you!

[2021-05-06 17:52] edoardottt commented on #7
Sorry, but I still have this problem.

**System**:
[code]

**Installation**:
Tried with:
- `GO111MODULE=on go get -u -v github.com/lc/gau`
-  and with the binary `gau_1.1.0_linux_amd64.tar.gz`.

**Go version**: `go version go1.14.7 linux/amd64`

**Error**:
[code]

[2021-05-08 17:09] lc commented on #30
Hey @trieulieuf9,

Can you send me another sample URL again? Thanks.

[2021-05-08 17:27] lc commented on #39
Hi @NagliNagli,

After further investigation, this was fixed about 3 months ago: https://github.com/lc/gau/commit/241494256653f10cb2abd6450db6e0dfa6824b44

 Check to see if your version of gau is up-to-date. Thanks!

[2021-05-08 17:27] #39 closed

[2021-05-08 17:28] lc commented on #38
Hi, please update to the latest version of gau, this is working for me:

[code]

[2021-05-09 02:41] trieulieuf9 commented on #30
Hi, @lc

I just pull urls with gau again, this time the previously missing url is presented in gau result.

[2021-05-09 02:41] #30 closed

[2021-05-09 03:04] lc commented on #30
Perfect!

[2021-05-21 03:21] hcraker350 opened #41 "failed to fetch"
failed to fetch wayback pagination: Get "https://web.archive.org/cdx/search/cdx?url=*.example.com/*&output=json&collapse=urlkey&fl=original&page=0&showNumPages=true": dial tcp: i/o timeout
failed to fetch otx results page 0: Get "https://otx.alienvault.com/api/v1/indicators/domain/example.com/url_list?limit=200&page=0": dial tcp: i/o timeout

[2021-05-21 03:52] lc commented on #41
This isn't an issue with gau, might be an issue with your DNS

[2021-05-21 03:52] #41 closed

[2021-05-25 09:27] shelld3v opened #42 "gau -b flag is not working"
[code]

[2021-05-27 05:19] alexandrepessoa33 commented on #8
**Thank you so much, it's working now!**

[2021-06-03 08:53] naglienso commented on #39
Blacklist doesn't work with the version supplied when installing GO111MODULE=on go get -u -v github.com/lc/gau

[2021-06-03 14:57] lc commented on #42
Works fine for me, it's due to `flag.NArgs()`:

[code]

[2021-06-03 14:57] #42 closed

[2021-06-03 20:41] lc commented on #37
Added!

[2021-06-03 20:41] #37 closed

[2021-06-17 23:56] michael1026 opened #44 "Stripping standard ports (80 and 443) from output"
The output of `gau` almost always includes URLs such as `https://example.com:443/somepath`. I think it would be only beneficial to remove these ports from the output.

I would be happy to implement this if it's a feature that'd be wanted.

Thanks!

[2021-06-24 14:50] lc commented on #44
Hey @michael1026,

I think this could be a good option to add, but not something the tool should do by default. For example, if there is an archived URL for port `:8080` and `:443`, they could be running entirely different services, so it may be beneficial at times to have them.

Furthermore, if we strip the ports, would we default to `https://` or `http://`?

[2021-06-24 16:59] michael1026 commented on #44
Completely agreed, that's why I wanted to only strip `:80` and `:443` from the output. Ports like `:4443`, `:8080`, `:8081`, etc would be left alone

Correct me if I'm wrong, as I didn't build this tool, but don't the URLs come from the APIs with protocols as is? I don't suggest modifying the protocols at all.

Here's a simple before and after of my suggestion.

Before:
[code]
After:
[code]

[2021-06-24 17:58] lc commented on #44
Hey @michael1026,

Sorry, I get what you're saying now. I'm curious what the use-case is for this? All I can think of is for better sorting (`sort -u`)?

Thanks

[2021-06-24 18:11] michael1026 commented on #44
For the most part, yes. Or with `uniq` or TomNomNom's `anew`. I just don't see the need for port 80 and 443 to be specified when they're not necessary.

[2021-08-04 04:52] glaucusec commented on #8
Thanks man.

[2021-09-24 15:49] gato-louco opened #47 "Question: Does gau includes all the results of waybackurls?"
Hello!
I see a lot of bug bounty writeups where people use gau along with waybackurls.

- Does it make sense? My first thought was that gau already includes all the urls of waybackurls...

[2021-09-29 02:53] lc commented on #47
Hey @gato-louco,

gau does include all the results of waybackurls, so it does not make sense to use both.

[2021-09-29 02:53] #47 closed

[2021-09-29 09:38] Daniyyell commented on #8
This also affect gf also but just renaming the gau to gauu and gf to gff.

problem solved.

[2021-10-18 20:40] dsaxton opened #48 "Deduplicating results"
Nice work @lc.

It seems that `gau` returns duplicate URLs in the output with no way to remove without piping to another command (the dupes usually shouldn't be a big deal, but I encountered a case where `robots.txt` appeared a very large number of times in the output). Could it be helpful to have a flag to optionally remove duplicates for the user automatically?

[2021-10-18 23:45] midjarmaksor opened #49 "error"
runtime: g1: frame.sp=0xc0001dd5c0 top=0xc0001ddfe0
        stack=[0xc0001dc000-0xc0001de000] n=7 max=2147483647
fatal error: traceback did not unwind completely

runtime stack:
runtime.throw(0x858e48, 0x23)
        /usr/lib/go/src/runtime/panic.go:1116 +0x72
runtime.gentraceback(0xffffffffffffffff, 0xffffffffffffffff, 0x0, 0xc000000180, 0x0, 0x0, 0x7fffffff, 0x867c90, 0x7fff0dc14ef8, 0x0, ...)

[2021-11-15 00:08] ramondunker opened #51 "Error instantiating proxy"
Hi there,

Since the update 2.0.4 I'm seeing a weird fatal error.

[code]

This is my .gau.toml file, located in the home directory:

[code]

I'm not using any proxy. Am I doing something wrong here?

[2021-11-15 00:16] lc commented on #51
Hey @ramondunker,

I’ll look into this tonight, thanks. This occurs when the http client gets an empty response, but from the top of my head, I don’t remember this being a fatal error. Going to look into this as soon as I’m back at my computer.

[2021-11-15 01:41] lc commented on #51
Hey @ramondunker,

It seems like this is happening due to CommonCrawl's API being flaky.

This error "empty response, check your proxy configuration" occurs when the HTTP client gets an empty response (which happens when it can't reach the destination):

and `error instantiating client` is thrown [here](https://github.com/lc/gau/blob/master/runner/runner.go#L43) when CommonCrawl 503's or can't be

[2021-11-15 01:51] #51 closed

[2021-11-15 01:54] lc commented on #51
https://github.com/lc/gau/releases/tag/v2.0.5

[2021-11-15 02:44] sumgr0 commented on #51
Started getting this after updating to 2.04 and even after 2.05.
gau example.com
FATA[0000] error instantiating client: API responded with non-200 status code

![Screenshot 2021-11-15 at 8 13 02 AM](https://user-images.githubusercontent.com/11391119/141713998-3fe3035c-096e-46b7-8098-2b57f93f5556.JPG)

Are both the errors related, else I shall open a new issue.

[2021-11-15 02:48] sumgr0 opened #53 "error instantiating client: API responded with non-200 status code"
Started getting this after updating to 2.04 and even after 2.05.
gau example.com
FATA[0000] error instantiating client: API responded with non-200 status code
![Screenshot 2021-11-15 at 8 13 02 AM](https://user-images.githubusercontent.com/11391119/141714423-20df9855-db20-4b34-8b67-3fbde7bde411.JPG)

[2021-11-15 02:50] lc commented on #53
Hey @sumgr0, it seems like CommonCrawl is having issues and it responds with 503 every so often, so I am going to just change this from a fatal warning to just a logged issue. I'll fix this quick and you can update. Until then you can use the `-providers wayback,otx,urlscan`

[2021-11-15 02:53] lc commented on #53
Also @sumgr0, I'm upping the retry count in the `$HOME/.gau.toml` should help mitigate this as well.

[2021-11-15 02:55] sumgr0 commented on #53
Using the --providers tag helps. Updated the .gau.toml and its working now.

[2021-11-15 02:56] lc commented on #53
Glad to hear it @sumgr0. I'm just about to push a fix so that even if CommonCrawl spazzes gau won't quit and just will continue with the other providers.

[2021-11-15 02:57] sumgr0 commented on #53
Great... thank you for fixing it this quick :)

[2021-11-15 03:00] lc commented on #53
Yep! https://github.com/lc/gau/releases/tag/v2.0.6

[2021-11-15 03:00] #53 closed

[2021-11-15 03:00] #49 closed

[2021-11-15 03:00] lc commented on #49
Please update gau :)

[2021-11-15 03:01] #48 closed

[2021-11-15 03:01] lc commented on #48
Closing, please use `sort -u ` for now

[2021-11-15 03:01] lc commented on #20
Hey @sofily-security this is now fixed in the new version of gau!

[2021-11-15 03:01] #20 closed

[2021-11-15 12:53] ramondunker commented on #51
Hi @lc ,

Thanks for the quick response and fix <3

[2021-11-15 13:12] ramondunker commented on #51
Hi @lc ,

I just tried version 2.06, but its still not working for me. The error is a little different though:

[code]

[2021-11-15 13:56] lc commented on #51
I cannot control that commoncrawl is struggling and not responding, so bump up your retries. Gau will still continue to work and this error isn’t fatal, but rather a warning.

[2021-12-14 00:43] nestedfunction opened #55 "Feature Request: Allow concurrent output to Outfile and stdout"
In the current version of gau, using the --o option will output to the specified outfile only, suppressing results output to stdout.

I think it might be nice to have --o operate independently without silencing stdout.

The would be useful in certain terminal logging setups. My existing 'workaround' had been omit --o and instead tee to an outfile.

Thanks!

[2021-12-14 00:52] nestedfunction commented on #55
Similar issue mentioned by @BastienFaure in https://github.com/lc/gau/issues/20#issuecomment-733427239

Noted that this is by design.

[2021-12-20 12:06] CR4ZYHUNT opened #56 "error when installing go"
when i try to install it with go build i got this error

# command-line-arguments
/usr/bin/ld: /root/.cache/go-build/45/45e7b436531a3ff0bbfde65724b3c47cf223bf26529f52a761b9d83143178b3c-d(_go_.o): in function `github_0com_1modern_x2dgo_1reflect2.UnsafeSliceType.UnsafeMakeSlice':
/root/go/pkg/mod/github.com/modern-go/reflect2@v1.0.2/unsafe_slice.go:78: undefined reference to `reflect.unsafe_NewArray

[2021-12-25 18:08] MR-SS opened #57 "403 forbidden error in downloading https://proxy.golang.org/github.com/klauspost/compress/@v1.31.0"
hi
when i try to install this tools . i'll get 403 error

root@localhost:/home/Download# go install github.com/lc/gau/v2/cmd/gau@latest
go: downloading github.com/klauspost/compress v1.13.4
/root/go/pkg/mod/github.com/valyala/fasthttp@v1.31.0/compress.go:10:2: github.com/klauspost/compress@v1.13.4: reading https://proxy.golang.org/github.com/klauspost/compress/@v/v1.13.4.zip: 403 Forbidden
/root/g

[2021-12-27 14:22] robiul-awal opened #58 "WARN[0001] error instantiating commoncrawl: API responded with non-200 status code"
When I'm Running Command gau Then I'm Receiving This Error.
$gau
WARN[0001] error instantiating commoncrawl: API responded with non-200 status code

[2021-12-29 21:49] lc commented on #57
This works fine for me, maybe try another IP

[2021-12-29 21:49] #57 closed

[2021-12-29 21:50] lc commented on #56
`go install github.com/lc/gau/v2/cmd/gau@latest` works fine for me. Check your go version and see if you're up to date

[2021-12-29 21:50] #56 closed

[2021-12-29 21:51] lc commented on #58
This means the common crawl API is either down or rate-limited you

[2021-12-29 21:51] #58 closed

[2021-12-29 21:52] lc commented on #55
Hey, thanks for opening this issue – I can add a flag like --suppress or something similar to suppress stdout and have that disabled by default

[2021-12-29 22:33] nestedfunction commented on #55
Can I suggest naming the flag -s (--silent) like in curl? Thanks! :)

[2022-01-17 11:45] az0mb13 commented on #8
Sadly renaming the gau alias to something else breaks the oh-my-zsh update. It'll ask you to stash your changes.

[2022-01-17 12:03] Daniyyell commented on #8
Yes

[2022-01-17 12:18] v7nc3nz commented on #8
Follow this to avoid conflict
https://github.com/lc/gau/issues/8#issuecomment-892361060

[2022-01-17 12:23] az0mb13 commented on #8
Thanks. Added `unalias gau` to my .zshrc.

[2022-01-17 14:24] navjot-rsa opened #59 "Got error when running gau"
**I got this error any solution???**
[code]

[2022-01-17 14:45] sakyb7 commented on #59
Facing the same issue...

[2022-01-17 15:05] iamRjarpan commented on #59
Problem seems with `commoncrawl` so use `gau --providers wayback,otx,urlscan` untill there is fix released.

[2022-01-17 16:02] tahamarzak20 opened #60 "Gau Not Working"
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/lc/gau/providers.NewCommonProvider(0xc0000c2300, 0x0, 0x0, 0x0, 0x0)
        /home/dexos/go/pkg/mod/github.com/lc/gau@v1.2.0/providers/common.go:45 +0x2ac
main.run(0xc0000c2300, 0xc000286000, 0x1740, 0x1800)
        /home/dexos/go/pkg/mod/github.com/lc/gau@v1.2.0/main.go:35 +0x98f
main.main()
        /hom

[2022-01-17 17:00] knowthetech opened #61 "panic: runtime error: index out of range [0] with length 0"
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/lc/gau/providers.NewCommonProvider(0xc00008e360, 0x0, 0x0, 0x0, 0x0)
	/root/go/pkg/mod/github.com/lc/gau@v1.2.0/providers/common.go:45 +0x2ac
main.run(0xc00008e360, 0xc000206000, 0x369, 0x400)
	/root/go/pkg/mod/github.com/lc/gau@v1.2.0/main.go:35 +0x98f
main.main()
	/root/go/pkg/mod/github.com/lc/gau@v1.2

[2022-01-17 17:50] knowthetech commented on #60
+1

[2022-01-17 18:23] rotemreiss commented on #61
Same here on multiple machines.

[2022-01-17 18:26] h4x0r-dz commented on #61
The same Issue here

[2022-01-17 18:29] edoardottt commented on #61
Same issue, latest version.

The problem is [here](https://github.com/lc/gau/blob/d7b60de7fca5007efc79b5e53fbefc3aa9f3b30b/pkg/providers/commoncrawl/commoncrawl.go#L42), the length of r should be checked before accessing the first element.

[2022-01-17 18:58] GDATTACKER-RESEARCHER commented on #61
Do you have fixed code?

[2022-01-17 19:17] rabahnaceri2020 commented on #61
did you fixed ?

[2022-01-17 20:07] Salah6rz commented on #61
Same here :(

[2022-01-17 20:21] lc commented on #61
Gah commoncrawl must have changed something. I’ll look into this

[2022-01-17 20:25] lc commented on #61
This issue’s now fixed, please install the latest version using go install! Thanks for bringing this to my attention

[2022-01-17 20:25] #61 closed

[2022-01-17 21:13] 777388 commented on #60
same

[2022-01-17 21:44] knowthetech commented on #61
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/lc/gau/v2/pkg/providers/commoncrawl.New(0x91082d0, {{0x0, 0x0}, {0x0, 0x0}, {0x0, 0x0, 0x0}, {0x0, 0x0, ...}, ...})
	/Users/cdl/go/src/github.com/lc/gau/pkg/providers/commoncrawl/commoncrawl.go:42 +0x1d9
github.com/lc/gau/v2/runner.(*Runner).Init(0x906a750, 0x91082d0, 0x9055cd4)
	/Users/cdl/go/src/github.

[2022-01-18 00:08] Brucedh commented on #60
same for me

[2022-01-18 04:18] AmbitiousSam commented on #60
+1

[2022-01-18 05:06] MohanadIsrewy commented on #60
+1

[2022-01-18 06:59] GDATTACKER-RESEARCHER opened #63 "not fixed yet panic: runtime error: index out of range [0] with length 0"
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/lc/gau/providers.NewCommonProvider(0xc00008e360, 0x0, 0x0, 0x0, 0x0)
/root/go/pkg/mod/github.com/lc/gau@v1.2.0/providers/common.go:45 +0x2ac
main.run(0xc00008e360, 0xc000206000, 0x369, 0x400)
/root/go/pkg/mod/github.com/lc/gau@v1.2.0/main.go:35 +0x98f
main.main()
/root/go/pkg/mod/github.com/lc/gau@v1.2.0/

[2022-01-18 07:01] GDATTACKER-RESEARCHER commented on #61
Not fixed yet bro

[2022-01-18 09:15] tarunkant commented on #63
I am also receiving the same error.
Install gau using, `go install github.com/lc/gau/v2/cmd/gau@latest`

[2022-01-18 09:18] tarunkant commented on #60
Interim solution:
https://github.com/lc/gau/issues/59#issuecomment-1014639657

[2022-01-18 10:09] navjot-rsa commented on #59
Thank you

[2022-01-18 10:09] #59 closed

[2022-01-18 16:56] lc commented on #63
https://github.com/lc/gau/releases/tag/v2.0.8

[2022-01-18 16:56] #63 closed

[2022-01-18 16:56] lc commented on #60
Fixed: https://github.com/lc/gau/releases/tag/v2.0.8

[2022-01-18 16:56] #60 closed

[2022-01-18 17:03] knowthetech commented on #63
that seems to be fixed now bro http://index.commoncrawl.org/collinfo.json is having some issue earlier now seems to be fixed

[2022-01-18 17:06] lc commented on #63
Yeah, CommonCrawl was having issues: https://groups.google.com/g/common-crawl/c/kEHzXZNu5To

However, gau should no longer panic in the future if this endpoint has errors

[2022-01-19 10:50] NikhilkaushikOp opened #66 "Not able to save the requests of gau in the txt file"
Hey I am not able to save requests in my file.  gau -o urls.txt redacted.com

[2022-01-19 15:37] lc commented on #66
`gau -h`

[2022-01-19 15:37] #66 closed

[2022-01-23 11:30] sudouday commented on #53
same issue again bro (WARN[0001] error instantiating commoncrawl: API responded with non-200 status code)

[2022-01-23 11:38] sudouday commented on #53
and this one is working for me now cat httpx.txt | gau --providers wayback,otx,urlscan | tee -a gau.txt

[2022-01-23 12:56] lc commented on #53
@sudouday: https://github.com/lc/gau/issues/58

[2022-02-13 00:25] LucyAKA13 opened #67 "WARN[0018] error instantiating commoncrawl"
Every time I try to run cat http-300terra.txt | ./gau
It gives me this error.
WARN[0018] error instantiating commoncrawl: commoncrawl.apiResult: decode slice: expect [ or n, but found , error found in #0 byte of ...||..., bigger context ...||...

[2022-02-17 08:27] MohammadRezaArani commented on #67
Same Happen for me from yesterday!==>
time="2022-02-17T11:53:49+03:30" level=warning msg="error instantiating commoncrawl: commoncrawl.apiResult: decode slice: expect [ or n, but found \x00, error found in #0 byte of ...||..., bigger context ...||...\n"

No matter which domain I ask fro I get the this output when runing:
gau example.com --subs

[2022-03-01 18:22] vansh1 commented on #21
can you tell how

[2022-03-05 12:10] luca-regne opened #69 "Filter by preffix of mime-type"
Command argument to prevent fetch urls with common unwanted mime-types, like every image (image/jpeg, image/png, image/gif) or every font (font/woff,font/woff2,font/otf)

[2022-03-24 23:31] Abdennour-1 commented on #67
There will be an update , Check this:

https://commoncrawl.org/2022/03/introducing-cloudfront-access-to-common-crawl-data/

[2022-03-24 23:32] Abdennour-1 commented on #67
![image](https://user-images.githubusercontent.com/69427610/160026495-258f1f22-30bb-441b-b5cc-c9601ac83c3b.png)

[2022-04-10 17:48] wellencamass opened #72 "Timeout"
Hello, Leo!

Is it possible to add --timeout parameter?

For example I'm running on slow network and its common for responses to come back in 60-80 seconds, can i specify --timeout 90 for gau to work?

[2022-04-14 00:59] lc commented on #72
Yes, I can add this!

[2022-04-14 15:24] lc commented on #72
Done https://github.com/lc/gau/releases/tag/v2.1.0

[2022-04-14 15:24] #72 closed

[2022-04-14 15:24] #67 closed

[2022-04-16 18:41] chenrui333 opened #74 "make `.gau.toml` file location configurable"
currently, it assumes the `.gau.toml` under home dir, it would be good to make it configurable.

[2022-04-17 13:32] elias1565 opened #75 "WARN[0000] error instantiating commoncrawl.apiResult: decide slice: expect"
![20220416_210641-2](https://user-images.githubusercontent.com/103888143/163716433-1d590c9a-ae0d-426b-a50d-cb883e7eb0da.jpg)

#67

[2022-04-17 14:49] DonatoReis commented on #75
I'm having the same problem when running gau @elias1565 @lc

### WARN[0000] error instantiating commoncrawl: commoncrawl.apiResult: decode slice: expect [ or n, but found , error found in #0 byte of ...||..., bigger context ...||...

[2022-04-17 15:25] ko2sec commented on #75
same with the latest version, 1.1.0 is working properly without any issues.

[2022-04-17 16:04] elias1565 commented on #75
what command to install the one you reported?

[2022-04-17 16:05] elias1565 commented on #75
what command to install the one you reported?

[2022-04-17 16:11] ko2sec commented on #75
download from here [https://github.com/lc/gau/releases/tag/v1.1.0](https://github.com/lc/gau/releases/tag/v1.1.0)

[2022-04-17 16:48] DonatoReis commented on #75
but what about version 2.1.0?

[2022-04-17 17:13] ko2sec commented on #75
I'm having same problem with the 2.1.0 either.

[2022-04-17 22:57] melmel27 commented on #75
version https://github.com/lc/gau/releases/tag/v2.0.9 still works fine

[2022-04-20 06:06] 4auvar commented on #75
I also facing the same issue.

[code]

I have installed like `go install github.com/lc/gau/v2/cmd/gau@latest` as given in repository.
Version: 2.1.0

[2022-04-20 18:03] lc commented on #75
Hey, looking into this right now

[2022-04-20 18:14] lc commented on #75
It's working fine for me:

[code]

[2022-04-20 18:20] ko2sec commented on #75
![image](https://user-images.githubusercontent.com/38421562/164296806-d60f9271-1470-4081-bb4b-7b75392b3f31.png)

maybe related to lack of configuration file?

[2022-04-20 18:31] lc commented on #75
Ahhhhhhhhh. No I can reproduce it. Thanks @ko2sec

[2022-04-20 18:32] lc commented on #75
Also noticed another major bug. So, thank you!

[2022-04-20 18:45] lc commented on #75
Fixed the bugs: https://github.com/lc/gau/releases/tag/v2.1.1

[2022-04-20 18:45] #75 closed

[2022-05-06 19:59] thesubtlety opened #76 "macOS arm64 build?"
Could you provide an macOS arm64 build next release? `go install` works fine but a bin would be convenient! Love this tool.

[2022-05-06 21:37] thesubtlety commented on #76
Doh. Didn't realize the macOS_amd64 build worked... 🙄

[2022-05-06 21:37] #76 closed

[2022-05-18 11:46] famdude commented on #26
How is it closed, while there is no solution for it?
I have the same issue. Any solution?

[2022-05-18 11:48] famdude opened #77 "fatal: pathspec 'example.com' did not match any files"
When I try to use the tool, I deal with this error:
fatal: pathspec 'example.com' did not match any files
What's the problem?

[2022-05-18 12:30] famdude commented on #8
I've done it, even commented the gau aliasing in ohmzsh, but still have the same problem.

[2022-05-18 12:34] famdude commented on #77
It seem's that the "**gau**" has a conflict with one of ohmzsh aliased commands. It's already debated here #8

[2022-05-18 12:34] #77 closed

[2022-06-08 20:03] molitona opened #78 "urlscan broken"
scanning with urlscan is broken

[2022-06-17 09:35] z7701858 opened #79 "WARN[0000] error instantiating commoncrawl: commoncrawl.apiResult: decode slice: expect WHEN USE --proxy"
It happened when use flag --proxy http://127.0.0.1:59999
![image](https://user-images.githubusercontent.com/32709921/174271688-699cda67-18ab-4e0f-b640-eb27f4a7afd1.png)
`WARN[0000] error instantiating commoncrawl: commoncrawl.apiResult: decode slice: expect [ or n, but found , error found in #0 byte of ...||..., bigger context ...||...`

[2022-06-19 14:48] z7701858 commented on #79
According to https://github.com/lc/gau/issues/51, this may be a stability issue with the commoncrawl api, and it is recommended to increase the number of retries

[2022-06-19 14:48] #79 closed

[2022-07-07 09:33] tiklup11 commented on #8
I had the same issue with gf by tomnomnom

[2022-07-22 15:18] lc commented on #78
Can you provide more information about the issue you're facing?

[2022-07-22 15:23] lc commented on #78
Nevermind, I'm see what you're saying.

[2022-07-22 20:12] molitona commented on #78
Yeah, that's it.

Please, I've send you a message on twitter, can you respond to it ? it's about a write-up of you.

[2022-07-23 18:37] lc commented on #78
Fixed in https://github.com/lc/gau/pull/81

[2022-07-23 18:37] #78 closed

[2022-07-24 18:39] molitona commented on #78
could you respond ?

[2022-08-30 19:52] Tikam02 opened #82 "fatal: not a git repository (or any of the parent directories): .git"
Installed properly from sources

go install github.com/lc/gau/v2/cmd/gau@latest

still this message is coming

fatal: not a git repository (or any of the parent directories): .git

[2022-09-19 17:45] Bushidosan commented on #82
A simpel work around will be running `git init` (not the desired way but it works!)

[2022-09-22 15:47] houdinicc opened #84 "--providers urlscan and wayback not available"
Hello, I am not getting any urls when I use the following two commands, I don't know what's going on

echo test.com | gau --providers wayback > wayback.txt
echo test.com | gau --providers urlscan > urlscan.txt

[2022-10-28 03:26] pdelteil commented on #84
@houdinicc

Try another domain. It tested it using `google.com` and they work just fine.

[2022-11-01 06:11] unnimona opened #85 "timeout not working"
i set a timeout of 60 seconds
--timeout 60

the plugin is still running after 5 minutes

[2022-11-08 23:17] nuts7 commented on #7
Same error.

[code]

[2022-11-09 06:11] edoardottt commented on #7
A workaround can be this: if you're using bash as a shell insert in `~/.bashrc`:
[code]
if you're using zsh instead `~/.zsh`

[2022-11-11 02:08] ShubhamBhut opened #86 "Can't write output in .txt file"
The amount of URLs gau finds are too big for terminal to handle, hence I decide to save them on a .txt file, but every time try that using ``--o`` command, I get ``time="2022-11-11T02:02:25Z" level=fatal msg="Could not open output file: open ex1.txt: permission denied\n"`` error

I am running gau on fedora 36 using docker and my command was ```sudo docker run gau example.com sudo --o ex1.txt```

[2022-11-11 19:52] p0mbe opened #87 "Option to blacklist paths"
Adding the option to blacklist a specific path or paths would be great.